[Desktop Entry]
Version=1.0
Type=Application
Name=Toggle Cam
Comment=Toggle the onboard webcam to save battery
Exec=toggle-cam
Icon=toggle-cam
Terminal=false
Categories=Utility;
StartupNotify=false
